<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tm2o</display-name>
  <welcome-file-list>
    <welcome-file>configuration.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OData</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
      <param-value>org.odata4j.producer.resources.ODataResourceConfig</param-value>
    </init-param>
    <init-param>
      <param-name>odata4j.producerfactory</param-name>
      <param-value>de.topicmapslab.odata.TopicMapODataProducerFactory</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OData</servlet-name>
    <url-pattern>/odata.svc/*</url-pattern>
  </servlet-mapping>
</web-app>